/* css reset */
body {
  margin: 0;
}

.cover {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url(../music/if-you.png) center center no-repeat;
  background-size: cover;
  filter: blur(10px);
  transform: scale(1.2);
}


.player {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  
  width: 500px;
  padding: 20px 40px;
  border-radius: 4px;
  color: #ea8989;
  background: rgba(255, 255, 255, 0.9);
}

.player .main {
  display: flex;
}

.player .buttons {
  margin-top: 10px;
}
.player .buttons .iconfont {
  font-size: 32px;
  margin-right: 8px;
  cursor: pointer;
  transition: all .3s;
}

.player .buttons .iconfont:hover {
  opacity: 0.7;
}

.player .texts {
  margin-left: 20px;
}
.player .texts h3 {
  margin-top: 14px;
  margin-bottom: 8px;
}

.player .texts p {
  margin-top: 0px;
}

.player .bar {
  height: 3px;
  background: #ccc;
  border-radius: 3px;
}

.player .bar .progress {
  height: 100%;
  width: 0%;
  border-radius: 3px;
  background: currentColor;
  transition: width, 1s;
}

.player .time {
  text-align: right;
  margin-top: 8px;
}

/* #canvas1 {
  position: fixed;
  left: 100px;
  z-index: 2;
}

#canvas2 {
  position: fixed;
  right: 100px;
  top: 200px;
  z-index: 3;
}

#canvas3 {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
} */
